/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.user-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  width: 30%;
  min-width: 300px;
}
.error {
  color: #d9534f;
}
